*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    color: white;
    height: 70px;
}
.navbar ul li {
   display: inline-block;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.right{
    display: inline-block;
    background-color: green;
    color: white;
    height: 90vh;
    width: 50%;
}
.left{
    display: inline-block;
    background-color: red;
    color: white;
    height: 90vh;
    width: 50%;
}
.footer{
    
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}