.box1{
background-color: antiquewhite;
display: inline-block;
border: black solid;
border-radius: 5px;

width: 150px;
font-size: 40px;
}
.box2{
    
    display: inline-block;
    background-color: rgb(221, 153, 64);
    border: black solid;
    border-radius: 5px;
    width: 160px;
    height:fit-content;
    text-align: center;
    font-style: italic;
    font-size: 1.67em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif, monospace;



    
    }