.box1{
    
    display: inline-block;
    background-color: rgb(221, 153, 64);
    border: black solid;
    border-radius: 5px;
    width: 50vh;
    height: 50vh;
    height:fit-content;
    text-align: center;
    font-style: italic;
    font-size: 1.67em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif, monospace;
    position: relative;
    right: 0;
}
.box2{
    
    display: inline-block;
    background-color: rgb(221, 153, 64);
    border: black solid;
    border-radius: 5px;
    width: 50vh;
    height: 50vh;
    height:fit-content;
    text-align: center;
    font-style: italic;
    font-size: 1.67em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif, monospace;



    
    }